[submodule "epub"]
	path = epub
	url = https://github.com/geek1011/ePubViewer
[submodule "aperturescience"]
	path = aperturescience
	url = https://github.com/xBytez/aperturescience.git
[submodule "brstm"]
	path = brstm
	url = https://github.com/kenrick95/nikku
