[submodule "epub"]
	path = epub
	url = https://github.com/geek1011/ePubViewer
[submodule "aperturescience"]
	path = aperturescience
	url = https://github.com/xBytez/aperturescience.git
[submodule "brstm"]
	path = brstm
	url = https://github.com/kenrick95/nikku
[submodule "startpage"]
	path = startpage
	url = https://github.com/deepjyoti30/startpage
[submodule "keeweb"]
	path = keeweb
	url = https://github.com/keeweb/keeweb
[submodule "audiomass"]
	path = audiomass
	url = https://github.com/pkalogiros/audiomass
[submodule "SSHy"]
	path = SSHy
	url = https://github.com/stuicey/SSHy
[submodule "whereami"]
	path = whereami
	url = https://github.com/webdevbrian/whereami
