[submodule "epub"]
	path = epub
	url = https://github.com/geek1011/ePubViewer
[submodule "aperturescience"]
	path = aperturescience
	url = https://github.com/xBytez/aperturescience.git
[submodule "brstm"]
	path = brstm
	url = https://github.com/kenrick95/nikku
[submodule "startpage"]
	path = startpage
	url = https://github.com/deepjyoti30/startpage
[submodule "audiomass"]
	path = audiomass
	url = https://github.com/pkalogiros/audiomass
[submodule "whereami"]
	path = whereami
	url = https://github.com/webdevbrian/whereami
[submodule "survival"]
	path = survival
	url = https://github.com/ligi/SurvivalManual.wiki.git
[submodule "keeweb"]
	path = keeweb
	url = https://github.com/keeweb/keeweb
	branch = gh-pages
[submodule "wealth"]
	path = wealth
	url = https://github.com/MKorostoff/1-pixel-wealth
[submodule "quatalog"]
	path = quatalog
	url = https://github.com/quatalog/site
[submodule "gtrr"]
	path = gtrr
	url = https://github.com/artemislena/gtrr
[submodule "relax"]
	path = relax
	url = https://github.com/dbis-uibk/relax
