body {
    background-color: black;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
body > a {
    display: block;
    height: 100%;
    margin-top: 1em;
    margin-left: .6em;
}
div {
    display: inline-flex;
    margin-top: 1em;
    margin-left: .6em;
}
div > a {
    border-radius: 1.5em;
    border: mediumpurple solid;
    color: white;
    font-family: monospace;
    display: inherit;
    text-decoration: inherit;
}
div > a * {
    font-size: 4em;
    height: 1em;
    padding: .3em;
}
